<h1>Users</h1>

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Email</th>
      <th>Sign in date</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= link_to user.email, user %></td>
        <td><%= user.current_sign_in_at %></td>
        <td>
          <% if can? :update, user %>
            <%= link_to '', edit_user_path(user),
              class: 'fas fa-edit text-decoration-none' %>
          <% end %>
          <% if can? :destroy, user %>
            <%= link_to '', user, method: :delete,
              data: { confirm: 'Are you sure?' },
              class: 'fas fa-trash text-decoration-none' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_registration_path %>
