<h1>Users</h1>

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Display name</th>
      <th>Logged in at</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td>
          <%= link_to user, title: user.email do %>
            <% if user&.profile&.full_name.present? %>
              <%= user.profile.full_name %>
            <% else %>
              <%= user.email %>
            <% end %>
          <% end %>
        </td>
        <td><%= user.current_sign_in_at %></td>
        <td>
          <% if can? :destroy, user %>
            <%= link_to '', user, method: :delete,
              data: { confirm: 'Are you sure?' },
              class: 'fas fa-trash text-decoration-none' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_registration_path %>
