
<%= simple_form_for([@user, @time_record],
  html: { class: 'form-horizontal' },
  wrapper: :horizontal_form) do |f| %>

  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :date, html5: true, wrapper: :horizontal_form, input_html: { step: 1 } %>
    <%= f.input :hours, input_html: { step: 0.1, min: 0, lang: :en } %>
    <%= f.input :description %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
