<h1>Time Records for <%= link_to @user.display_name, @user %></h1>

<div class="d-flex flex-row justify-content-between mb-3">
  <%= simple_form_for @filter,
    url: user_time_records_path(@user),
    method: :get,
    html: { class: 'form-inline' },
    wrapper: :inline_form do |f| %>

    <%= f.label 'Filter records', class: 'mx-1' %>

    <%= f.label :from, 'from', class: 'mx-1' %>
    <%= f.input :from, as: :date, html5: true,
      wrapper: :inline_form,
      label: false,
      input_html: { step: 1, class: 'mx-1' } %>

    <%= f.label :to, 'to', class: 'mx-1' %>
    <%= f.input :to, as: :date, html5: true,
      wrapper: :inline_form,
      label: false,
      input_html: { step: 1, class: 'mx-1' } %>

    <%= f.button :submit, 'Filter' %>
  <% end %>

  <%= link_to_if can?(:create, TimeRecord), 'New Time Record', new_user_time_record_path(@user),
      class: 'nav-link' %>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Hours</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @dated_records.each do |date, time_records| %>
      <% total_hours = time_records.sum {|record| record.hours } %>
      <% header_class = (total_hours >= @user&.profile&.expected_hours) ? 'success' : 'danger' %>

      <tr class="bg-<%= header_class %> text-light time-total">
        <th scope="row"><%= total_hours %></th>
        <td>
          <strong>Total at</strong>
          <%= date %>
        </td>
        <td>
          <%= link_to_if can?(:create, TimeRecord), '', dated_new_user_time_record_path(@user, date),
              title: "New record at #{date}",
              class: 'fas fa-plus text-decoration-none text-light' %>
        </td>
      </tr>
      <% time_records.each do |time_record| %>
        <tr class="time-record">
          <td><%= time_record.hours %></td>
          <td>
            <% if time_record.description.present? %>
              <%= truncate time_record.description.lines.first.strip, length: 80, separator: /\s/ %>
            <% else %>
              <em>No description</em>
            <% end %>
            <%= link_to '(more)', [@user, time_record] %>
          </td>
          <td>
            <%= link_to_if can?(:destroy, time_record), '', edit_user_time_record_path(@user, time_record),
              title: 'Edit',
              class: 'fas fa-edit text-decoration-none' %>
            <%= link_to_if can?(:destroy, time_record), '', [@user, time_record],
              title: 'Destroy',
              method: :delete,
              data: { confirm: 'Are you sure?' },
              class: 'fas fa-trash text-decoration-none' %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
