<!DOCTYPE html>
<html>
  <head>
    <title>TimeTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'styles' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
      <%= link_to 'Time Tracker', :root, class: 'navbar-brand' %>

      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to 'Home', :root, class: 'nav-link' %>
            </li>
          <% end %>
          </ul>
          <ul class="navbar-nav">
          <% if user_signed_in? %>
            <li class="nav-item">
              <span class="navbar-text"><%= current_user.email %></span>
            </li>
            <li class="nav-item">
              <%= link_to 'Edit account', edit_user_registration_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Sign out',
                  destroy_user_session_path,
                  method: :delete,
                  class: 'nav-link' %>
            </li>
          <% else %>
            <li>
              <%= link_to 'Sign in', new_user_session_path, class: 'nav-link' %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>

    <%= render 'layouts/messages' %>

    <main class="container">
      <%= yield %>
    </main>
  </body>
</html>
